In [4]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import normalize

file_path = 'Train_v1.txt'
column_names = ['toRemove', 'is_sarcastic', 'text']

# Read the dataset
data = pd.read_csv(file_path, sep='\t', header=None, names=column_names)

In [2]:
import text_mining_utils as tmu

In [5]:
baseline_count_matrix = tmu.build_count_matrix(data.text)
baseline_count_matrix.head()

MemoryError: Unable to allocate 13.3 GiB for an array with shape (39780, 44819) and data type int64

In [6]:
baseline_tf_matrix = tmu.build_tf_matrix(data.text)
baseline_tf_matrix.head()

MemoryError: Unable to allocate 13.3 GiB for an array with shape (39780, 44819) and data type int64

In [ ]:
baseline_tfidf_matrix = tmu.build_tfidf_matrix(data.text)
baseline_tfidf_matrix.head()

In [ ]:
#baseline model preformace
from sklearn.svm import SVC

clf = SVC(random_state=1)
y = data.is_sarcastic

tmu.printClassifReport(clf, baseline_count_matrix, y)
tmu.printClassifReport(clf, baseline_tf_matrix, y)
tmu.printClassifReport(clf, baseline_tfidf_matrix, y)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier(random_state=1)

tmu.printClassifReport(dt_clf, baseline_count_matrix, y)

In [ ]:
import numpy as np
from sklearn.svm import SVC

file_path = 'Train_v1.txt'
column_names = ['toRemove', 'is_sarcastic', 'text']

# Read the dataset
data = pd.read_csv(file_path, sep='\t', header=None, names=column_names)

shuffled_data = data.sample(frac=1, random_state=1).reset_index(drop=True)

# Define the number of chunks
num_chunks = 5

# Split the data into chunks
data_chunks = np.array_split(shuffled_data, num_chunks)

# Iterate over each chunk
for i, chunk in enumerate(data_chunks):
    print(f"Processing chunk {i+1}/{num_chunks}")
    
    # Build count matrix for the chunk
    count_matrix_chunk = tmu.build_count_matrix(chunk.text)
    
    # Train and evaluate the classifier
    clf = SVC(random_state=1)
    y_chunk = chunk.is_sarcastic
    tmu.printClassifReport(clf, count_matrix_chunk, y_chunk)

In [31]:
import pandas as pd

from sklearn.svm import SVC

#file_path = 'Train_v1.txt'
#column_names = ['toRemove', 'is_sarcastic', 'text']

# Read the dataset
#data = pd.read_csv(file_path, sep='\t', header=None, names=column_names)

file_path = 'Train_v1_cleaned_without_column.csv'

# Read the dataset
data = pd.read_csv(file_path)

shuffled_data = data.sample(frac=1, random_state=1).reset_index(drop=True)
shuffled_data.head(10)

   is_sarcastic                                               text
0             0  Oreo is pacing in my bedroom and it's hardwood...
1             0  The best part about not smoking is when my clo...
2             0  @AndreaCarles yeah but I just didn't want to m...
3             1  I love being the first to make plans with peop...
4             0  BL : A Few Clouds and 76 F at Salt Lake City I...
5             0  RT 2mins of silence for those teenAge girls. W...
6             0                 Please reply to mine! on instagram
7             1              Love love love being called cutie üòãüòå
8             0      connections matter #EFSAExpo2015 30 min video
9             1  I think I need to give a day off to @iamzackkn...

In [32]:

shuffled_data.tail(10)

       is_sarcastic                                               text
39770             1  Me at school : " I'll work on this at home. " ...
39771             0       I hate everyone in this class with a passion
39772             0  @WSJ @greta Its called " Liquid Evil " aka: al...
39773             1  Only girl I want right now, unfortunately love...
39774             1  6am came round way too fast. I sleeping is suc...
39775             0  I hate it when I'm listening to music really l...
39776             1  Now I can be the last of all my straight AND g...
39777             0                    üòÇ üòÇ üòÇ üòÇ got set up for the kill
39778             0  Mac Demarco has made it onto the Costa playlis...
39779             1  Paige comes into my room and sits on my bed an...

In [45]:
import numpy as np
import text_mining_utils as tmu


# Define the size of the sample
sample_size = 10000

# Sample from the dataset
sampled_data = shuffled_data.sample(n=sample_size, random_state=1)

total_rows = len(sampled_data)
print(total_rows)

10000

In [34]:
class_distribution = sampled_data['is_sarcastic'].value_counts()
print(class_distribution)

is_sarcastic
0    5389
1    4611
Name: count, dtype: int64

In [46]:
baseline_count_matrix = tmu.build_count_matrix(sampled_data.text)
baseline_count_matrix.head()

   !  "  #  $  %  &  '  (  )  *  ...  üö∂  ü§ê  ü§ë  ü§î  ü§ï  ü¶É  ü¶Ñ  Ûæì§  Ûæ≠ª  ÛæÆö
0  0  0  1  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 18599 columns]

In [48]:
baseline_tf_matrix = tmu.build_tf_matrix(sampled_data.text)
baseline_tf_matrix.head()

,!,"""",#,$,%,&,',(,),*,...,üö∂,ü§ê,ü§ë,ü§î,ü§ï,ü¶É,ü¶Ñ,Ûæì§,Ûæ≠ª,ÛæÆö
0,0.0000,0.0,0.076923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0625,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
baseline_tfidf_matrix = tmu.build_tfidf_matrix(sampled_data.text)
baseline_tfidf_matrix.head()

,!,"""",#,$,%,&,',(,),*,...,üö∂,ü§ê,ü§ë,ü§î,ü§ï,ü¶É,ü¶Ñ,Ûæì§,Ûæ≠ª,ÛæÆö
0,0.000000,0.0,0.140232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.144166,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
#baseline model preformace
from sklearn.svm import SVC

clf = SVC(random_state=1)
y = sampled_data.is_sarcastic

tmu.printClassifReport(clf, baseline_count_matrix, y)
tmu.printClassifReport(clf, baseline_tf_matrix, y)
tmu.printClassifReport(clf, baseline_tfidf_matrix, y)

              precision    recall  f1-score   support

           0       0.67      0.75      0.71      1890
           1       0.66      0.56      0.60      1610

    accuracy                           0.66      3500
   macro avg       0.66      0.65      0.65      3500
weighted avg       0.66      0.66      0.66      3500

              precision    recall  f1-score   support

           0       0.67      0.74      0.70      1890
           1       0.65      0.57      0.61      1610

    accuracy                           0.66      3500
   macro avg       0.66      0.66      0.66      3500
weighted avg       0.66      0.66      0.66      3500

              precision    recall  f1-score   support

           0       0.68      0.81      0.74      1890
           1       0.71      0.55      0.62      1610

    accuracy                           0.69      3500
   macro avg       0.69      0.68      0.68      3500
weighted avg       0.69      0.69      0.68      3500

In [38]:
from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier(random_state=1)

y = sampled_data.is_sarcastic

tmu.printClassifReport(dt_clf, baseline_count_matrix, y)
tmu.printClassifReport(dt_clf, baseline_tf_matrix, y)
tmu.printClassifReport(dt_clf, baseline_tfidf_matrix, y)

              precision    recall  f1-score   support

           0       0.66      0.68      0.67      5389
           1       0.62      0.59      0.60      4611

    accuracy                           0.64     10000
   macro avg       0.64      0.64      0.64     10000
weighted avg       0.64      0.64      0.64     10000

              precision    recall  f1-score   support

           0       0.65      0.67      0.66      5389
           1       0.60      0.57      0.58      4611

    accuracy                           0.62     10000
   macro avg       0.62      0.62      0.62     10000
weighted avg       0.62      0.62      0.62     10000

              precision    recall  f1-score   support

           0       0.65      0.67      0.66      5389
           1       0.60      0.57      0.58      4611

    accuracy                           0.63     10000
   macro avg       0.62      0.62      0.62     10000
weighted avg       0.62      0.63      0.62     10000

In [39]:
from sklearn.neighbors import KNeighborsClassifier
KNN_clf = KNeighborsClassifier()

y = sampled_data.is_sarcastic

tmu.printClassifReport(KNN_clf, baseline_count_matrix, y)
tmu.printClassifReport(KNN_clf, baseline_tf_matrix, y)
tmu.printClassifReport(KNN_clf, baseline_tfidf_matrix, y)

              precision    recall  f1-score   support

           0       0.61      0.65      0.63      5389
           1       0.55      0.51      0.53      4611

    accuracy                           0.59     10000
   macro avg       0.58      0.58      0.58     10000
weighted avg       0.58      0.59      0.58     10000

              precision    recall  f1-score   support

           0       0.63      0.65      0.64      5389
           1       0.57      0.55      0.56      4611

    accuracy                           0.60     10000
   macro avg       0.60      0.60      0.60     10000
weighted avg       0.60      0.60      0.60     10000

              precision    recall  f1-score   support

           0       0.72      0.72      0.72      5389
           1       0.67      0.67      0.67      4611

    accuracy                           0.70     10000
   macro avg       0.70      0.70      0.70     10000
weighted avg       0.70      0.70      0.70     10000